.hotel
    margin-top: 20px
    &-info
        display: flex
        align-items: center
        justify-content: space-between
    &-name
        font-size: 24px
        text-transform: uppercase
    &-offer
        background-color: $red-color
        padding: 5px
        border-radius: 5px
        font-size: 10px
        color: white
        margin-left: 14px
    &-description
        margin-top: 15px
    &-wrapper
        display: flex
        flex-wrap: wrap
        align-items: center


.rating
    display: flex
    flex-direction: column
    align-items: center
    background-color: $red-color
    color: white
    border-radius: 5px
    padding: 7px 5px
    &__text
        font-size: 8px
    &__counter
        font-size: 14px

.stars
    margin-bottom: 5px
    flex-basis: 100%
.star
    width: 8px

.swiper
    width: 600px
    height: 300px
    &-button
        width: 30px
        height: 30px



