.navbar 
    height: 120px
    &_flex 
        height: 120px
        display: flex
        justify-content: space-between
        align-items: center
  
    &_photo 
        margin-right: 15px
        width: 40px
        height: 40px
        object-fit: cover
        border-radius: 50%
        overflow: hidden

    &_input 
        width: 285px
        height: 40px
        padding-left: 10px
        border-radius: 5px
        border: none
        background-color: #F5FAFE

  
    &_button 
        width: 65px
        height: 40px
        border-radius: 0 5px 5px 0
        background-color: #EC1F46
        color: white
        border: none
        position: absolute
  
    &_element_2 
        margin-right: auto
        margin-left: 108px
  
  
    &_element_3 
        display: flex
        align-items: center

.search
    position: relative
.search_img 
    width: 15px
    height: 15px